.modal-content {
    position: fixed;
    bottom: 1px;
    background-color: none;
    display: none;
    margin: 0 auto;
}

.container-modal {
    background: white;
    border: 1px solid #888;
    padding: 10px;

}

.change-modal{
    width: 80px;
    background: white;
    color: black;
    border-radius: 10px 10px 0 0;
    border: 1px solid;
    margin-left: 1340px;
    border-bottom: none;
    cursor: pointer;
}
/* .change-modal :hover{
    pointer-events: painted;
} */